<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Virtual Tour</title>
    <script src="https://aframe.io/releases/0.9.0/aframe.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@3.x.x/dist/aframe-template-component.min.js"></script>
    <script src="https://unpkg.com/aframe-layout-component@3.x.x/dist/aframe-layout-component.min.js"></script>
    <script src="https://unpkg.com/aframe-event-set-component@3.x.x/dist/aframe-event-set-component.min.js"></script>

</head>
<body>
 <a-scene>
     <a-assets>
       <img src="https://cdn.aframe.io/360-image-gallery-boilerplate/img/city.jpg" crossorigin id="panorama">
     </a-assets>
     <a-sky src="#panorama" rotation="0 -180 0"></a-sky>
 </a-scene>
</body>
</html>